.create-echo-form {
    display: flex;
    flex-direction: column;
}

.list-of-tags,
.list-of-friends {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    width: 280px;
}

.list-of-tags li,
.list-of-friends li {
    margin-right: 5px;
    border: 1px solid black;
    padding: 1px;
    border-radius: 5px;
}

.list-of-tags li:hover,
.list-of-friends li:hover {
    background-color: red;
    font-weight: bold;
    cursor: pointer;
}

.echo-maker-container {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-around;
}

.map-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 500px;
}

.overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 245, 245, 0.5);
    z-index: 1000;
    font-size: 20px;
    font-weight: bold;
}

.map-container:hover .overlay {
    display: none;
}

.create-echo-form input,
textarea,
button,
select {
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
    padding: 4px;
}

.echo-media-input {
    display: none;
}

.echo-media-label {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #4f4f4f;
    border: 2px dashed darkgray;
    padding: 10px;
    height: 100px;
}

.echo-textarea {
    max-width: 300px;
    min-width: 300px;
}

.create-echo-button {
    align-self: center;
}
